{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block body %}
<body>
    <div class="container mt-4 bg-secondary">
      <h1>About Our Ice Cream Store</h1>
      <p>Welcome to our delightful ice cream store, where frozen treats and sweet memories are made! At our store, we believe that ice cream is more than just a dessert; it's an experience that brings joy to people of all ages.</p>
      <p>Indulge in our wide selection of creamy and flavorful ice creams, handcrafted with love and the finest ingredients. From classic favorites like vanilla and chocolate to unique and innovative flavors that push the boundaries of taste, there's something to satisfy every craving.</p>
      <p>Our passionate team of ice cream connoisseurs is dedicated to creating delectable frozen delights that leave a lasting impression. Whether you're enjoying a scoop in a crispy cone or treating yourself to a luscious sundae loaded with toppings, we strive to deliver the perfect balance of flavors and textures that will transport you to a world of pure bliss.</p>
      <p>Visit our store today and embark on a delightful ice cream adventure. We're committed to providing a welcoming and friendly atmosphere, where you can gather with friends and family to create wonderful memories over scoops of happiness. Come and experience the magic of our ice cream store!</p>
    </div>
    </body>
{% endblock body %}
